# Local package
numpy==1.26.4
pandas==2.2.2
pandas_profiling
scipy==1.13.0
scikit-learn==1.4.2
matplotlib==3.8.4
seaborn==0.12.2
altair==5.3.0
plotly==5.16.1
pyarrow==15.0.1
requests
vega @ git+https://github.com/vega/ipyvega/@master
vegafusion

# Auto Code formatter
black==24.2.0
isort
jupyterlab-code-formatter

# To run Jupyter Notebooks and Python code in interactive mode in VS Code:
ipykernel==6.27.1

# To run Jupyter Widgets
ipywidgets==8.1.2
